.container{
    display: flex;
}
.leftContainer{
    width: 20%;
    background-color: black;
    color: white;
}
.rightContainer{
    display: flex;
    width: 80%;
    background-color: black;
    color: white;
    a {
        color: white;
        text-decoration: none;
        margin: 10px auto;
    }
}